{
  "scope": "https://api.github.com:443",
  "method": "GET",
  "path": "/repos/jocodev1/vue-muuri/issues/12/comments",
  "body": "",
  "status": 200,
  "response": [],
  "rawHeaders": [
    "GitHub.com",
    "Wed, 19 Sep 2018 20:04:24 GMT",
    "Content-Type",
    "application/json; charset=utf-8",
    "2",
    "close",
    "Status",
    "200 OK",
    "X-RateLimit-Limit",
    "5000",
    "X-RateLimit-Remaining",
    "4417",
    "X-RateLimit-Reset",
    "1537388583",
    "private, max-age=60, s-maxage=60",
    "ETag",
    "\"331a7ae86abc5b9fde1949af1fb62cb2\"",
    "X-OAuth-Scopes",
    "admin:gpg_key, admin:org, admin:org_hook, admin:public_key, admin:repo_hook, delete_repo, gist, notifications, repo, user, write:discussion",
    "X-Accepted-OAuth-Scopes",
    "",
    "X-GitHub-Media-Type",
    "github.v3; format=json",
    "ETag, Link, Retry-After, X-GitHub-OTP, X-RateLimit-Limit, X-RateLimit-Remaining, X-RateLimit-Reset, X-OAuth-Scopes, X-Accepted-OAuth-Scopes, X-Poll-Interval",
    "*",
    "max-age=31536000; includeSubdomains; preload",
    "deny",
    "nosniff",
    "1; mode=block",
    "origin-when-cross-origin, strict-origin-when-cross-origin",
    "default-src 'none'",
    "0.038704",
    "D949:37C1:913A1D:1338480:5BA2ABC8"
  ]
}