{
  "scope": "https://api.github.com:443",
  "method": "GET",
  "path": "/search/code?page=1&per_page=15&q=new%20VueRouter%20in%3Afile",
  "body": "",
  "status": 401,
  "response": {
    "message": "Bad credentials",
    "documentation_url": "https://developer.github.com/v3"
  },
  "rawHeaders": [
    "Content-Type",
    "application/json; charset=utf-8",
    "Status",
    "401 Unauthorized",
    "X-GitHub-Media-Type",
    "github.v3; format=json",
    "X-RateLimit-Limit",
    "10",
    "X-RateLimit-Remaining",
    "2",
    "X-RateLimit-Reset",
    "1539272493"
  ]
}