{
  "scope": "https://ec2-18-218-73-199.us-east-2.compute.amazonaws.com:443",
  "method": "GET",
  "path": "/raw/cameronadams777/fiddle-native-enterprise/d631a217cc45e101af375fd5151e21777f9ac99a/src/router/index.js",
  "body": "",
  "status": 200,
  "response": "import Vue from 'vue'\nimport VueRouter from 'vue-router'\n\nimport routes from './routes'\n\nVue.use(VueRouter)\n\nconst Router = new VueRouter({\n  /*\n   * NOTE! Change Vue Router mode from quasar.conf.js -> build -> vueRouterMode\n   *\n   * When going with \"history\" mode, please also make sure \"build.publicPath\"\n   * is set to something other than an empty string.\n   * Example: '/' instead of ''\n   */\n\n  // Leave as is and change from quasar.conf.js instead!\n  mode: process.env.VUE_ROUTER_MODE,\n  base: process.env.VUE_ROUTER_BASE,\n  scrollBehavior: () => ({ y: 0 }),\n  routes\n})\n\nexport default Router\n",
  "rawHeaders": [
    "602",
    "default-src 'none'; style-src 'unsafe-inline'; sandbox",
    "max-age=31536000",
    "Authorization,Accept-Encoding",
    "nosniff",
    "deny",
    "1; mode=block",
    "ETag",
    "\"67486b24c248c57571f7aa58242a039a08963f9b\"",
    "Content-Type",
    "text/plain; charset=utf-8",
    "max-age=300",
    "X-Geo-Block-List",
    "",
    "Thu, 11 Oct 2018 15:40:36 GMT",
    "close"
  ]
}