{
  "scope": "https://ec2-18-218-73-199.us-east-2.compute.amazonaws.com:443",
  "method": "GET",
  "path": "/raw/cameronadams777/fiddle-native-enterprise/d631a217cc45e101af375fd5151e21777f9ac99a/src/store/index.js",
  "body": "",
  "status": 200,
  "response": "import Vue from 'vue'\nimport Vuex from 'vuex'\n\nimport modules from './modules'\n\nVue.use(Vuex)\n\nconst store = new Vuex.Store({\n  modules\n})\n\nexport default store\n",
  "rawHeaders": [
    "161",
    "default-src 'none'; style-src 'unsafe-inline'; sandbox",
    "max-age=31536000",
    "Authorization,Accept-Encoding",
    "nosniff",
    "deny",
    "1; mode=block",
    "ETag",
    "\"07da82a31240ca06f03f97a1cc79c9ba1df81682\"",
    "Content-Type",
    "text/plain; charset=utf-8",
    "max-age=300",
    "X-Geo-Block-List",
    "",
    "Thu, 11 Oct 2018 15:40:36 GMT",
    "close"
  ]
}