{
  "scope": "https://ec2-18-218-73-199.us-east-2.compute.amazonaws.com:443",
  "method": "POST",
  "path": "/api/graphql",
  "body": {
    "operationName": null,
    "variables": {},
    "query": "{\n  repository(owner: \"cameronadams777\", name: \"fiddle-native-enterprise\") {\n    description\n    updatedAt\n    stargazers {\n      totalCount\n      __typename\n    }\n    licenseInfo {\n      name\n      __typename\n    }\n    __typename\n  }\n}\n"
  },
  "status": 200,
  "response": {
    "data": {
      "repository": {
        "description": null,
        "updatedAt": "2018-09-06T20:25:54Z",
        "stargazers": {
          "totalCount": 0,
          "__typename": "StargazerConnection"
        },
        "licenseInfo": {
          "name": "MIT License",
          "__typename": "License"
        },
        "__typename": "Repository"
      }
    }
  },
  "rawHeaders": [
    "Content-Type",
    "application/json; charset=utf-8",
    "Status",
    "200 OK",
    "X-OAuth-Scopes",
    "repo",
    "X-Accepted-OAuth-Scopes",
    "repo",
    "X-GitHub-Enterprise-Version",
    "2.14.1",
    "X-GitHub-Media-Type",
    "github.v4; format=json"
  ]
}