{
  "scope": "https://api.github.com:443",
  "method": "GET",
  "path": "/search/code403?foo=bar",
  "body": "",
  "status": 401,
  "response": {
    "message": "Bad credentials",
    "documentation_url": "https://developer.github.com/v3"
  },
  "rawHeaders": [
    "Content-Type",
    "application/json; charset=utf-8",
    "Status",
    "401 Unauthorized",
    "X-GitHub-Media-Type",
    "github.v3; format=json",
    "X-RateLimit-Limit",
    "60",
    "X-RateLimit-Remaining",
    "52",
    "X-RateLimit-Reset",
    "1536288233"
  ]
}