{
  "scope": "https://api.github.com:443",
  "method": "GET",
  "path": "/search/commits?per_page=20&q=new%20VueRouter",
  "body": "",
  "status": 401,
  "response": {
    "message": "Bad credentials",
    "documentation_url": "https://developer.github.com/v3"
  },
  "rawHeaders": [
    "Content-Type",
    "application/json; charset=utf-8",
    "Status",
    "401 Unauthorized",
    "X-GitHub-Media-Type",
    "github.cloak-preview",
    "X-RateLimit-Limit",
    "10",
    "X-RateLimit-Remaining",
    "5",
    "X-RateLimit-Reset",
    "1537387525"
  ]
}