{
  "scope": "https://api.github.com:443",
  "method": "POST",
  "path": "/graphql",
  "body": {
    "operationName": null,
    "variables": {},
    "query": "{\n  repository(owner: \"facebook\", name: \"react\") {\n    description\n    updatedAt\n    stargazers {\n      totalCount\n      __typename\n    }\n    licenseInfo {\n      name\n      __typename\n    }\n    __typename\n  }\n}\n"
  },
  "status": 401,
  "response": {
    "message": "Bad credentials",
    "documentation_url": "https://developer.github.com/v4"
  },
  "rawHeaders": [
    "Content-Type",
    "application/json; charset=utf-8",
    "Status",
    "401 Unauthorized",
    "X-GitHub-Media-Type",
    "github.v4; format=json",
    "X-RateLimit-Limit",
    "0",
    "X-RateLimit-Remaining",
    "0",
    "X-RateLimit-Reset",
    "1539274003"
  ]
}